
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');      
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');
body{
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-around;
}
img{
    width: 45px;
}
#titre {
    position: absolute;
    margin-left: -518px;
    margin-top: 7px;
    font-size: xx-large;
    font-family: "Whereas recognition of the inherent dignity";
}
#navbar2{
    margin-top:23px;
    display: flex;
    justify-content: space-between;
    width: 15%;

}
#word1{
    color: #00b39b;
}
#word2{
    color: #8f8f8f;
}
.idk{
    color: 8f8f8f;
    text-decoration: none;
}
.idk:hover{
    color: #00b39b;

}

#logmain{
    margin-top: 10%;
    text-align: center;
}
#tit {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    font-size: large;
    color: #00b39b;
}


p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#paragraph {
    position: absolute;
    right: -1%;
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 296px;
    padding-right: 274px;
    width: 104%;
    justify-content: space-between;
}
#p1{
        padding-left: 700px;
        position: relative;
        right: 50px;
    }
#box1{
    background-color: #00b39b;

    
}
#box2{
    background-color: #4236e4;
    
}
#box3{
    background-color: #001547;
    
}
#boxes {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 80%;
    width: 124%;
    color: white;
    margin: 200px;
    right: 49px;
    left: -321px;
}
#box1,#box2,#box3{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    width: 400px;

    

}
#box1,#box3{
    margin-right:200px ;
    margin-left: 200px;
}
#box1 {
    position: relative;
    right: -140px;
}
#box3 {
    position: relative;
    left: -141px;
}

div select{
    padding-top: 40px;
    background-color: transparent;
    height: 5px;

}
#section3logos{
    display: flex;
    justify-content: center;
}
table{
    width: 252px;

}
#section3logos{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 4px;

}
#titre2 {
    color: #00b39b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 952px;
    position: relative;
    left: 376px;
    top: 90px;}
div#secction3 {
    position: relative;
    top: -148px;
    left: 148px;
}
#section4 {
    background-color: #d0faf4;
    color: #00b39b;
    width: 1512px;
    margin-left: -170px;
    height: 682px;
    font-family: inherit;
}

#section4 p{
    position: relative;
    top: 40px;
    color: #747474;
    left: 211px;
    top: 102px;
}
#section4 img{
    position: relative;
    width: 391px;
    bottom: -251px;
    left: 175px;
}
#section4 h1{
    position: relative;
    left: 211px;
    top: 102px;
}

#section41{
    width: 30px;
}
#section41 p{
    color: white;
}
#b1{
    position: relative;
    background-color: white;
    width: 222px;
    height: 296px;
    left: 842px;
    bottom: 410px;
    color: #747474;
}
#b1 img{
    width: 30px;
    position: relative;
    width: 30px;
    position: relative;
    left: 103px;
    top: 32px;
}
#b1 p{
    color: #00b39b;
    width: 30px;
    position: relative;
    width: 242px;
    position: relative;
    left: 50px;
    top: 27px;
    font-size: 23px;
}
#b1 font{
    position: relative;
    top: 33px;
    font-size: small;
    LEFT: 9px;
}
#b2{
    position: relative;
    background-color: white;
    width: 222px;
    height: 296px;
    left: 1104px;
    bottom: 726px;
    color: #747474;
}
#b2 img{
    width: 30px;
    position: relative;
    width: 30px;
    position: relative;
    left: 103px;
    top: 32px;
}
#b2 p{
    color: #00b39b;
    width: 30px;
    position: relative;
    width: 242px;
    position: relative;
    left: 50px;
    top: 27px;
    font-size: 23px;
}
#b2 font{
    position: relative;
    top: 33px;
    font-size: small;
    LEFT: 49px;
}
#b3{
    position: relative;
    background-color: white;
    width: 222px;
    height: 296px;
    left: 842px;
    bottom: 686px;
    color: #747474;
}
#b3 img{
    width: 30px;
    position: relative;
    width: 30px;
    position: relative;
    left: 103px;
    top: 32px;
}
#b3 p{
    color: #00b39b;
    width: 30px;
    position: relative;
    width: 242px;
    position: relative;
    left: 50px;
    top: 27px;
    font-size: 23px;
}
#b3 font{
    position: relative;
    top: 33px;
    font-size: small;
    LEFT: 9px;}
#b4{
    position: relative;
    background-color: white;
    width: 222px;
    height: 296px;
    left: 1106px;
    bottom: 1003px;
    color: #747474;
}
#b4 img{
    width: 30px;
    position: relative;
    width: 30px;
    position: relative;
    left: 103px;
    top: 32px;
}
#b4 p{
    color: #00b39b;
    width: 30px;
    position: relative;
    width: 242px;
    position: relative;
    left: 50px;
    top: 27px;
    font-size: 23px;
}
#b4 font{
    position: relative;
    top: 33px;
    font-size: small;
    LEFT: 49px;}
#titre1{
    color: #00b39b;
    text-align: center;
    font-size: xx-large;
}
#par1{
    font-size: small;
    color: #747474;
    text-align: center;
    

}
.country{
    display: flex;
    width: 1045px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 177px;
    color: #747474;
    margin: 30px;


}
.country img{
    width: 343px;
}
button{
    position: relative;
    top: -33px;
    left: 211px;
    border-style: none;
    color: white;
    background-color: #4236e4;
    height: 40px;
    border-radius: 2px;
}
.country div:hover{
    box-shadow: -2px 13px 55px -22px rgba(0,0,0,0.85);
    -webkit-box-shadow: -2px 13px 55px -22px rgba(0,0,0,0.85);
    -moz-box-shadow: -2px 13px 55px -22px rgba(0,0,0,0.85);
}
#fin{
    font-size: larger;
    
    text-align: center;
    height: 200px;
}
#but{
    position: absolute;
    top: 3372px;
    left: 630px;
}

